<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h1>Mis computadoras</h1>
        {{> pcPartial}}
    {{#each pcsWithUrlImage}}
          {{#if urlImage}}
          <a href={{urlEditPc}}>
         <img src={{urlImage}} alt="" width="400px" height="400px">
         </a>
          {{/if}}
          {{#if urlEditPc}}
             <p> {{urlEditPc}}</p>
          {{/if}}
          
    {{/each}}


    
  <div>
      {{#if isEnabled.isEnabledBtnPreviousPage}}
    <a href="http://localhost:3000/myPc/{{pagination.previousPage}}"> 

      <input type="button" value="{{pagination.previousPage}}">

    </a>

    {{/if}}
    <p>
      {{pagination.currentPage}}
    </p>
      {{#if isEnabled.isEnabledBtnNextPage}}
    <a href="http://localhost:3000/myPc/{{pagination.nextPage}}"> 

      <input type="button" value="{{pagination.nextPage}}">

    </a>

   {{/if}}
  </div>
  </body>
</html>