<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Mis Computadoras</title>
  {{> importaciones}}
  <style>
    h1.titulo {
      color: #fff;
      font-size: 1.15em;
      font-weight: 900;
      margin: 0 0 0.5em;
      color: #505050;
    }

    @media (min-width: 450px) {
      h1.titulo {
        font-size: 3.55em;
      }
    }

    @media (min-width: 760px) {
      h1.titulo {
        font-size: 3.05em;
      }
    }

    @media (min-width: 900px) {
      h1.titulo {
        font-size: 3.25em;
        margin: 0 0 0.3em;
      }
    }
  </style>
</head>

<body>
  {{> pcPartial}}
  <h1 class="text-center titulo">PC's Cargadas</h1>
  <div class="container text-center mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{#each pcsWithUrlImage}}
      {{#if urlImage}}
      <div class="col">
        <div class="card h-100">
          <img src={{urlImage}} class="card-img-top" width="auto" height="250px">
          <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <p class="card-text">{{descripcion}}</p>
            <a href={{urlEditPc}}><input type="button" value="Editar" class="btn btn-primary"></a>
            <a href={{urlDelete}}><input type="button" class="btn btn-danger" value="Eliminar"></a>
          </div>
        </div>
      </div>

      {{/if}}
      {{/each}}
    </div>
  </div>
  <nav class="mt-5">
    <ul class="pagination justify-content-center">
      {{#if isEnabled.isEnabledBtnPreviousPage}}
      <li class="page-item">
        <a class="page-link" href="http://localhost:3000/myPc/{{pagination.previousPage}}">Anterior</a>
      </li>
      {{/if}}
      <li class="page-item">
        <p class="page-link">{{pagination.currentPage}}</p>
      </li>
      {{#if isEnabled.isEnabledBtnNextPage}}
      <li class="page-item">
        <a class="page-link" href="http://localhost:3000/myPc/{{pagination.nextPage}}">Siguiente</a>
      </li>
      {{/if}}
    </ul>
  </nav>
</body>

</html>